# npm stuff
npm-debug.log
node_modules/

# Visual Studio Code dir
.vscode/

# Potential difftool litter files
*.orig

# Per-developer configuration files
#/xyz/someConfig.js

# Ignore temporary files written by programs like Microsoft Word and Vim
~$*
~*.tmp
*.swp
*~

# Others
*.[Cc]ache
